@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background: black;
  color: grey;
}

.jinxsig {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 200px;
  border: 10px solid #090909;
  outline: 1px solid #426a64;
  outline-offset: -10px;
  overflow: hidden;
}
.jinxsig1 {
  width: 280px;
  height: 200px;
  transition: ease-in-out 0.6s;
}
.jinxsig:hover .jinxsig1 {
  transition: ease-in-out 0.6s;
  filter: grayscale(100%);
}
.jinxsig2 {
  position: absolute;
  width: 290px;
  height: 200px;
  box-sizing: border-box;
  padding: px;
  transition: ease-in-out 0.6s;
  padding: 90px 150px 0px 10px;
}
.jinxsig2 span {
  display: block;
  font-family: playfair display;
  text-transform: uppercase;
  text-align: justify;
  font-size: 8px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  color: grey;
  line-height: 1;
  margin-bottom: 5px;
}
.jinxsig2 h1 {
  color: grey;
  font-family: bebas neue;
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
  letter-spacing: px;
  padding-left: 7px;
  line-height: 1;
  text-shadow: 1px 1px 1px #000;
}
.jinxsig:hover .jinxsig2 {
  transition: ease-in-out 0.6s;
  margin-top: -200px;
}
.jinxsig3 {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  width: 290px;
  height: 200px;
  box-sizing: border-box;
  padding: px;
  transition: ease-in-out 0.6s;
  padding: 40px 58px;
}
.jinxsig3 span {
  display: block;
  font-family: playfair display;
  text-transform: uppercase;
  text-align: justify;
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  color: grey;
  line-height: 1.5;
  margin-bottom: 5px;
}
.jinxsig3 h1 {
  color: grey;
  font-family: bebas neue;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  letter-spacing: 1px;
  border-left: 2px solid #426a64;
  padding-left: 7px;
  line-height: 1;
  text-shadow: 1px 1px 1px #000;
}
.jinxsig:hover .jinxsig3 {
  transition: ease-in-out 0.6s;
  margin-top: -200px;
}
