.tt1.rol1.skye .tattit {
  font-family: 'Bebas Neue';
  text-align: center; 
  border-top: 1px solid var(--acento); 
  padding: 0px; 
  padding-top: 20px; 
  line-height: 90%; 
  color: var(--txt2);
}
.tt1.rol1.skye .tattit b {
  font-weight: normal; 
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke: 0.7px var(--acento);
}
.tt1.rol1.skye .tatdesc {
  justify-content: center; 
  border-bottom: 1px solid var(--acento); 
  padding: 0px; 
  padding-bottom: 20px;
}
